* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background: #09203F;
  overflow-x: hidden;
}

header {
  text-align: center;
  color: white;
  padding: 1em;
}

.stages {
  margin: 6rem 4rem;
}

.image {
  width: 100%;
}

.characters {
  display: flex;

}
.characters img {
  width: 80px;
  object-fit: contain;
}