* {
  margin: 0;
  padding: 0;
  background: #09203F;
}

header {
  text-align: center;
  color: white;
  margin-top: 2rem;
}

.grid {
  margin: 6rem 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 250px));
  justify-content: center;
}

button {
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  width: 250px;
}

.image {
  width: 100%;
}